    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Contact</h1>
            <p>The Architectural Katas were whipped up out of thin air by 
            <a href="http://www.tedneward.com">Ted Neward</a>; any questions about the experience
            that aren't answered in the <a href="http://groups.google.com/group/architecturalkatas">Architectural Katas Google Group</a>
            are best addressed to him. His email is ted_at_tedneward_dot_com.</p>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div>
