    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Architectural Katas</h1>
            <p>"How do we get great designers? Great designers design, of course." --Fred Brooks</p>
            <p>"So how are we supposed to get great architects, if they only get the chance to
            architect fewer than a half-dozen times in their career?" --Ted Neward</p>
            <p><a class="btn btn-primary btn-large" href="#/kata">Do one! &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>About</h2>
              <p>The Architectural Katas started as a presentation workshop by Ted Neward. 
              They've taken on a life of their own.</p>
              <p><a class="btn" href="about.html">Learn more &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Rules</h2>
              <p>Doing an Architectural Kata requires you to obey a few rules in order to get the 
              maximum out of the activity. </p>
              <p><a class="btn" href="rules.html">Read rules &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Contribute</h2>
              <p>New Kata problems/proposals are always welcome. </p>
              <p><a class="btn" href="contribute.html">Send ideas &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Invite</h2>
              <p>Want an experienced Architectural Kata moderator to run the workshop at your
              place of business? </p>
              <p><a class="btn" href="invite.html">Contact &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Lead</h2>
              <p>Want to run the Architectural Katas yourself? There's only a few things you need
              to know before you do.</p>
              <p><a class="btn" href="lead.html">Learn how &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Join</h2>
              <p>Want to find a group near you that's running the Architectural Katas? </p>
              <p><a class="btn" href="join.html">Find groups &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
