    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Invite</h1>
            <p>If you've gotten this far through the links, you just might be interested in having
            an architectural kata event at your location, for your business, or maybe your user group.
            This can be arranged; the easiest way to do this is either send email to Ted Neward
            directly, or, if you're in a bigger hurry than that, try posting a message to the
            <a target="_blank" href="http://groups.google.com/group/architecturalkatas">Architectural Katas Google Group</a> 
            and see if there's a Moderator who's willing and able to come to your location of choice
            and run one for you.</p>
          </div>
        </div><!--/span-->
      </div><!--/row-->
