    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Join</h1>
            <p>Interested in participating but don't know how or where to get started? I often run
            the Architectural Katas at software development conferences, but a few bold folks have
            started running Architectural Kata User Groups; as I find out about them, I will try
            to keep this page updated with those groups' contact information so you can link up with
            them.</p>
            <p>Alternatively, you can try sending a message to the 
            <a target="_blank" href="http://groups.google.com/group/architecturalkatas">Architectural Katas Google Group</a>
            and see if anybody there is hosting something nearby.</p>
            <h2>Known Groups</h2>
            <p>
	      <ul>
		<li>I am speaking on the <a target="_blank" href="http://vslive.com/Home.aspx">VSLive!</a> 
		conference circuit, doing the katas as a Friday post-con all-day workshop.</li>
		<li>For those of you in Europe, check out <a target="_blank" href="http://jaxlondon.com">JAX</a>,
		which often has me do the Katas as an all-day workshop, as well. (Incidentally, I
		don't know how long it'll be on the home page, but the video shots of the groups
		chatting and so forth are from the Katas workshop I did there last year. The
		video itself is, of course, <a href="http://www.youtube.com/watch?v=BL8HxECfq40&feature=player_embedded">up
		on YouTube</a>--everything up until the food shots is from the Architectural
		Kata workshop, near as I can tell.)</li>
		<li>The <a target="_blank" href="http://akp-boston.org">
		Boston Architectural Katas Practioners</a> group is the first group I know that
		has self-organized around doing architectural katas on a monthly basis. Next time
		I'm in Boston, I plan to try and catch one.</li>
	      </ul>
            </p>
          </div>
        </div><!--/span-->
      </div><!--/row-->
